<div class="card">
    <img [src]="empleado.foto" class="card-img-top" alt="...">
    <div class="card-body">
        <h3 class="card-title">{{empleado.nombre}} {{empleado.apellidos}}</h3>
        <div class="card-text">
            <ul>
                <li>Dni: {{empleado.dni}}</li>
                <li>Email: {{empleado.email}}</li>
                <li>Departamento: {{empleado.departamento}}</li>
            </ul>
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>