<h2 class="my-3">Formulario Empleados</h2>
<form action="" class="my-2" #formulario="ngForm" (ngSubmit)="recogerDatos(formulario)">
    <div class="form-group my-2">
        <label for="nombre" class="form-label">Nombre</label>
        <input id="nombre" class="form-control" ngModel name="nombre">
    </div>
    <div class="form-group my-2">
        <label for="apellidos" class="form-label">Apellidos</label>
        <input id="apellidos" class="form-control" ngModel name="apellidos">
    </div>
    <div class="form-group my-2">
        <label for="dni" class="form-label">DNI</label>
        <input id="dni" class="form-control" ngModel name="dni">
    </div>
    <div class="form-group my-2">
        <label for="email" class="form-label">Email</label>
        <input id="email" class="form-control" ngModel name="email">
    </div>
    <div class="form-group my-2">
        <label for="foto" class="form-label">Foto</label>
        <input id="foto" class="form-control" ngModel name="foto" placeholder="http://www.example.es/photo.jpg">
    </div>
    <div class="form-group my-2">
        <label for="departamento" class="form-label">Departamento</label>
        <select class="form-select" id="departamento" ngModel name="departamento">
            <option selected>Selecciona departamento</option>
            <option value="contabiliadad">Contabilidad</option>
            <option value="marketing">Marketing</option>
            <option value="direccion">Direccion</option>
            <option value="desarrollo">Desarrollo</option>
        </select>
    </div>
    <input type="submit" value="GUARDAR" class="btn btn-danger my-2">
</form>